
.hero-image {
    background: url(opt6.jpg) no-repeat center; 
    background-size: cover;
    height: 600px;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin-left: -10%;
    margin-bottom: -1%;
  }


  .wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 72px;
    pointer-events: all;
    border: 1px whitesmoke solid;
    background-color:  #e6e6e6;
  }

  .head{
    flex: 1 1 auto;
    width: 49px;
    height: 49px;
    display: flex;
    flex-direction: row;
        }


.circle-head{
    display: flex;
    flex: none;
    align-items: center;
    padding: 0 15px 0 13px;
}        

.img-boder{
    border-radius:  50%;
 visibility: visible;
}

.navbar-header{
background-color: #fff;
transform: translateY(0);
position: fixed;
display: flex;
transition: transform 300ms 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 0ms 300ms, background-color 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 1;
box-sizing: border-box;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
z-index: 8;
justify-content: space-between;
height: 72px;
width: 100%;
}

.head-msg{
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  flex:  none;
  top: 0;
  margin-top: -4%;
  color: #fff
}

.about{
  margin-top: -3%;

}

.about-2{
  background-color: lightskyblue;
  color: snow;
}



#footer{
  height: 72px;
background-color: #fff;
margin-left: 5%;
}

#nav-design{
  z-index: 2;
}